.navItem-container {
  height: 100%;
  box-sizing: border-box;
  padding-inline: 20px;
  .navItem-body {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    margin-top: 3rem;

    .linkContainer {
      perspective: 120px;
      perspective-origin: bottom;
      padding-inline: 20px;
      padding-block: 12px;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      transition: background-color 0.5s ease;
      cursor: pointer;
      border: 1px solid transparent;
    }

    a {
      color: var(--foreground-color);
      text-decoration: none;
      font-size: 20px;
      /* font-weight: 500; */
    }
  }

  .linkContainer:hover {
    background-color: var(--ui-color);
    border: 1px solid var(--ui-border-color);
    color: var(--background-color);
  }
}
