.exp_01_toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 30px;
  background-color: var(--foreground-color);
  border-radius: 50px;
  padding: 5px;
  border: 2px solid var(--grey-color);
}

.exp_01_toggle-text {
  flex: 1;
  font-size: 14px;
  color: var(--background-color);
  position: relative;
}

.exp_01_toggle-text.left {
  text-align: right;
  margin-right: 1rem;
}

.exp_01_toggle-text.right {
  text-align: left;
  margin-left: 1rem;
}

.exp_01_toggle-circle {
  width: 28px;
  height: 28px;
  background-color: var(--text-sec);
  border-radius: 50%;
  position: absolute;
  /* top: 50%; */
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
}

.exp_01_toggle-container:hover .exp_01_toggle-circle {
  background-color: var(--ui-border-color);
}

.exp02_avatar-container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 9999px;
  background-color: var(--background-color);
  border: 1px solid var(--text-sec);
}

.exp02_avatar-stack {
  display: flex;
  margin-right: 8px;
  height: min-content;
}

.exp02_avatar-img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  margin-left: -8px;
  background-color: #fff;
}

.exp02_avatar-img:first-child {
  margin-left: 0;
}

.exp02_avatar-text {
  font-size: 12px;
  color: #6b7280;
  height: min-content;

}

.exp02_avatar-text strong {
  color: #111827;
  font-weight: 600;
  height: min-content;
}
